<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{projectName}} - 404 Not Found</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <p class="error-code">404</p>
        <p class="message">The page you are looking for was moved, removed, renamed or might never have existed.</p>
        <a href="/" class="home-link">Go back home</a>
      </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
