<section class="section is-medium  has-background-image"
         data-background="https://source.unsplash.com/g30P1zcOzXo/1600x900" data-color="#4FC1EA"
         data-color-opacity=".6">
  <div class="overlay"></div>
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">Our clients love us</h2>
      <h3 class="subtitle is-5 light-text">Look at what they say about us</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea
              case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
            </blockquote>
            <div class="author">
              <img src="/img/illustrations/faces/1.png" alt=""/>
              <h5>Irma Walters</h5><span>Accountant</span>
            </div>
          </figure>
        </div>
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea
              case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
            </blockquote>
            <div class="author">
              <img src="/img/illustrations/faces/2.png" alt=""/>
              <h5>John Bradley</h5><span>Financial Analyst</span>
            </div>
          </figure>
        </div>
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea
              case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
            </blockquote>
            <div class="author">
              <img src="/img/illustrations/faces/3.png" alt=""/>
              <h5>Gary Blackman</h5><span>HR Manager</span>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
