doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description", content= "tsParticles")
        meta(name="author", content= "Matteo Bruni")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:creator" content="@HollowMatt_ITA")
        meta(name="twitter:image:src" content="https://cdn.matteobruni.it/images/particles/demo.png")
        meta(property="og:title" content="tsParticles - A lightweight TypeScript library for creating particles")
        meta(property="og:site_name" content="tsParticles")
        meta(property="og:url" content="https://particles.matteobruni.it/")
        meta(property="og:description" content="A lightweight TypeScript library for creating particles.")
        meta(property="og:image" content="https://cdn.matteobruni.it/images/particles/demo.png")

        title tsParticles
        link(href="/stylesheets/main.css" rel="stylesheet" type="text/css")
        link(href="/tsparticles-editor/css/tsparticles.editor.css" rel="stylesheet" type="text/css")

    body
        #tsparticles

        // Global site tag (gtag.js) - Google Analytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-159372955-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-159372955-1');

        script(src="/pathseg/pathseg.js")
        script(src="/tsparticles/tsparticles.min.js")
        script(src="/tsparticles-editor/js/tsparticles.editor.min.js")
        script(src="/javascripts/demo.js")
