<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Fresh :: {{title}}</title>
        <link rel="icon" type="image/png" href="{{root}}assets/img/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="{{root}}assets/css/bulma.css">
        <link rel="stylesheet" type="text/css" href="{{root}}assets/css/core.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">

    </head>
    <body>
        {{> preloader}}
        {{> body}}
        {{> footer}}
        {{> backtotop}}
        {{> sidebar}}
        {{> scripts}}
    </body>  
</html>
