doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description", content= "tsParticles")
        meta(name="author", content= "Matteo Bruni")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:creator" content="@HollowMatt_ITA")
        meta(name="twitter:image:src" content="https://particles.matteobruni.it/images/demo.png")
        meta(property="og:title" content="tsParticles - A lightweight TypeScript library for creating particles")
        meta(property="og:site_name" content="tsParticles")
        meta(property="og:url" content="https://particles.matteobruni.it/")
        meta(property="og:description" content="A lightweight TypeScript library for creating particles.")
        meta(property="og:image" content="https://particles.matteobruni.it/images/demo.png")

        title tsParticles
        link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        link(href="/fontawesome/css/all.css" rel="stylesheet" type="text/css")
        link(href="/jsoneditor/jsoneditor.css" rel="stylesheet" type="text/css")
        link(href="/stylesheets/main.css" rel="stylesheet" type="text/css")

    body
        .container-fluid.m-0.vh-100
            .row.h-100
                #sidebar.col-3.p-0.h-100(style="overflow: auto;")
                    .row.p-1
                        .col-auto
                            .btn-group
                                button#btnUpdate.btn.btn-primary.btn-xs(type="button") Reload
                                button.btn.btn-primary.dropdown-toggle.dropdown-toggle-split(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    span.sr-only Toggle Dropdown
                                .dropdown-menu
                                    a.dropdown-item(href="/docs") API
                                    .dropdown-divider
                                    a#export-image.dropdown-item(href="#") Export Image
                                    a#export-config.dropdown-item(href="#") Export Config
                                    .dropdown-divider
                                    a#toggle-stats.dropdown-item(href="#") Toggle Stats
                                    .dropdown-divider
                                    a#codepen-export.dropdown-item(href="#") Export to CodePen
                        .col
                            select.form-control#presets
                                option(value="background") Background Mask
                                option(value="big") Big Particles
                                option(value="bubble") Bubble
                                option(value="chars") Chars
                                option(value="collisions") Collisions
                                option(value="connect") Connect
                                option(value="default") Default
                                option(value="fontawesome") Font Awesome
                                option(value="hollowknight") Hollow Knight
                                option(value="images") Multiple Images
                                option(value="mask") Polygon Mask
                                option(value="nasa") NASA
                                option(value="noconfig") No Config
                                option(value="nyancat") Nyan Cat
                                option(value="nyancat2") Nyan Cat 2
                                option(value="polygons") Polygon Shape
                                option(value="preset") Presets
                                option(value="random") Random Colors
                                option(value="reactDefaults") React Defaults
                                option(value="shadow") Shadow
                                option(value="slow") Slow on Hover
                                option(value="snow") Snow
                                option(value="star") Star
                                option(value="test") Test
                                option(value="trail") Trails
                                option(value="virus") Virus
                    .row
                        .col
                            #editor
                #tsparticles-container.col.p-0.h-100
                    #tsparticles
                    .github
                        a.btn.btn-link(href="https://github.com/matteobruni/tsparticles" title="Find more info on GitHub")
                            img#gh-mark.img-fluid(src="/images/GitHub-Mark-120px-plus.png" alt="")
                            img#gh-logo.img-fluid(src="/images/GitHub_Logo.png" alt="GitHub")
                    span.toggle-sidebar
                        span.caret-right
                            i.fas.fa-caret-right
                        span.caret-left
                            i.fas.fa-caret-left
                    #stats(hidden)
                        .count-particles
                            |
                            span.js-count-particles --
                            | particles

        #exportModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        h5#exportModalLabel.modal-title Export
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    .modal-body
                        .modal-body-content
                    .modal-footer
                        button.btn.btn-primary(type="button" data-dismiss="modal") Close

        form(action="https://codepen.io/pen/define" method="POST" target="_blank",hidden,id="code-pen-form")
            input(type="hidden", name="data", value="", id="code-pen-data")
            input(type="submit", value="Create Pen")

        script(src="/jquery/jquery.slim.min.js")
        script(src="/popper.js/umd/popper.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="/fontawesome/js/all.js")
        script(src="/jsoneditor/jsoneditor.js")
        script(src="/three/examples/js/libs/stats.min.js")
        script(src="/pathseg/pathseg.js")
        script(src="/tsparticles/tsparticles.js")
        script(src="/javascripts/demo.js")