doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description", content= "tsParticles")
        meta(name="author", content= "Matteo Bruni")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:creator" content="@HollowMatt_ITA")
        meta(name="twitter:image:src" content="https://cdn.matteobruni.it/images/particles/demo.png")
        meta(property="og:title" content="tsParticles - A lightweight TypeScript library for creating particles")
        meta(property="og:site_name" content="tsParticles")
        meta(property="og:url" content="https://particles.matteobruni.it/")
        meta(property="og:description" content="A lightweight TypeScript library for creating particles.")
        meta(property="og:image" content="https://cdn.matteobruni.it/images/particles/demo.png")

        title tsParticles
        link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        link(href="/fontawesome/css/all.css" rel="stylesheet" type="text/css")
        link(href="/jsoneditor/jsoneditor.css" rel="stylesheet" type="text/css")
        link(href="/stylesheets/main.css" rel="stylesheet" type="text/css")

    body
        .container-fluid.m-0.vh-100
            .row.h-100
                #sidebar.col-3.p-0.h-100(style="overflow: auto;")
                    .row.p-1
                        .col
                            .input-group
                                select.custom-select#presets
                                    option(value="absorbers") Absorbers
                                    option(value="background") Background Mask
                                    option(value="big") Big Particles
                                    option(value="bubble") Bubble
                                    option(value="chars") Chars
                                    option(value="collisions") Collisions
                                    option(value="connect") Connect
                                    option(value="customPreset") Custom Preset
                                    option(value="customShape") Custom Shape
                                    option(value="dataImages") Data URI Images
                                    option(value="default") Default
                                    option(value="destroy") Destroy
                                    option(value="divRepulse") Div Repulse
                                    option(value="emitter") Emitter
                                    option(value="emitterAbsorber") Emitter and Absorber
                                    option(value="fontawesome") Font Awesome
                                    option(value="hollowknight") Hollow Knight
                                    option(value="images") Multiple Images
                                    option(value="multiplePolygonMasks") Multiple Polygon Masks
                                    option(value="nasa") NASA
                                    option(value="noconfig") No Config
                                    option(value="nyancat") Nyan Cat
                                    option(value="nyancat2") Nyan Cat 2
                                    option(value="polygonMask") Polygon Mask
                                    option(value="polygons") Polygon Shape
                                    option(value="preset") Presets
                                    option(value="random") Random Colors
                                    option(value="reactBubbles") React Bubbles
                                    option(value="reactDefaults") React Defaults
                                    option(value="reactMultipleImages") React Multiple Images
                                    option(value="reactNightSky") React Night Sky
                                    option(value="reactPolygonMask") React Polygon Mask
                                    option(value="reactSimple") React Simple
                                    option(value="reactSnow") React Snow
                                    option(value="shadow") Shadow
                                    option(value="slow") Slow on Hover
                                    option(value="snow") Snow
                                    option(value="star") Star
                                    option(value="test") Test
                                    option(value="trail") Trails
                                    option(value="twinkle") Twinkle
                                    option(value="virus") Virus
                                .btn-group.input-group-append
                                    button#btnUpdate.btn.btn-primary.btn-xs(type="button") Reload Particles
                                    .btn-group
                                        button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Share
                                        .dropdown-menu
                                            a.dropdown-item(target="_blank" href="https://www.facebook.com/dialog/feed?app_id=508841200049663&link=https://particles.matteobruni.it&picture=https://particles.matteobruni.it/images/demo.png&name=tsParticles&description=tsParticles%20-%20A%20lightweight%20TypeScript%20library%20for%20creating%20particles&redirect_uri=https://particles.matteobruni.it") Facebook
                                            a.dropdown-item(target="_blank" href="https://twitter.com/intent/tweet?text=tsParticles%20-%20A%20lightweight%20TypeScript%20library%20for%20creating%20particles&url=https://particles.matteobruni.it&hashtags=typescript,particles,html5,webdesign&via=HollowMatt_ITA") Twitter
                                            a.dropdown-item(target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://particles.matteobruni.it&title=tsParticles&summary=A%20lightweight%20TypeScript%20library%20for%20creating%20particles&source=https://particles.matteobruni.it") LinkedIn
                                            a.dropdown-item(target="_blank" href="https://dev.to/new?prefill=---%5Cn%20title%3A%20tsParticles%5Cn%20published%3A%20false%5Cn%20tags%3A%20javascript%2C%20showdev%2C%20webdesign%2C%20github%5Cn%20---%5Cn%20%5Cn%20%5Cn%20%5Cn%20tsParticles%20-%20A%20lightweight%20TypeScript%20library%20for%20creating%20particles%20https://particles.matteobruni.it%5Cn") Dev
                                            a.dropdown-item(target="_blank" href="http://www.pinterest.com/pin/create/button/?url=https://particles.matteobruni.it&media=https://particles.matteobruni.it/images/demo.png&description=tsParticles%20-%20A%20lightweight%20TypeScript%20library%20for%20creating%20particles%20https://particles.matteobruni.it" data-pin-do="buttonPin" data-pin-config="above") Pinterest
                                            a.dropdown-item(target="_blank" href="mailto:steve@jobs.com?subject=tsParticles%20-%20A%20lightweight%20TypeScript%20library%20for%20creating%20particles&body=tsParticles%20-%20A%20lightweight%20TypeScript%20library%20for%20creating%20particles%20https://particles.matteobruni.it") Email
                                    .btn-group
                                        button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Other
                                        .dropdown-menu
                                            a.dropdown-item(href="/docs") API Documentation
                                            .dropdown-divider
                                            a#export-image.dropdown-item(href="#") Export Image
                                            a#export-config.dropdown-item(href="#") Export Config
                                            .dropdown-divider
                                            a#toggle-stats.dropdown-item(href="#") Toggle Stats
                                            .dropdown-divider
                                            a#codepen-export.dropdown-item(href="#") Export to CodePen
                    .row
                        .col
                            #editor
                #tsparticles-container.col.p-0.h-100
                    #repulse-div(style="width: 200px; height: 200px; background-color: rgba(255, 255, 255, .5); border-radius: 100px; position: absolute; top: 50%; left: 50%; margin-left: -100px; margin-top: -100px; z-index: 200")
                    #tsparticles
                    .github
                        a.btn.btn-link(href="https://github.com/matteobruni/tsparticles" title="Find more info on GitHub")
                            img#gh-mark.img-fluid(src="https://cdn.matteobruni.it/images/particles/GitHub-Mark-120px-plus.png" alt="")
                            span#gh-project tsParticles
                    span.toggle-sidebar
                        span.caret-right
                            i.fas.fa-caret-right
                        span.caret-left
                            i.fas.fa-caret-left
                    #stats(hidden)
                        .count-particles
                            |
                            span.js-count-particles --
                            | particles

        #exportModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        h5#exportModalLabel.modal-title Export
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    .modal-body
                        .modal-body-content
                    .modal-footer
                        button.btn.btn-primary(type="button" data-dismiss="modal") Close

        form(action="https://codepen.io/pen/define" method="POST" target="_blank" hidden id="code-pen-form")
            input(type="hidden" name="data" value="" id="code-pen-data")
            input(type="submit" value="Create Pen")

        // Global site tag (gtag.js) - Google Analytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-159372955-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-159372955-1');

        script(src="/jquery/jquery.slim.min.js")
        script(src="/popper.js/umd/popper.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        script(src="/fontawesome/js/all.js")
        script(src="/jsoneditor/jsoneditor.js")
        script(src="/three/examples/js/libs/stats.min.js")
        script(src="/pathseg/pathseg.js")
        script(src="/tsparticles/tsparticles.js")
        script(src="https://cdn.jsdelivr.net/npm/tsparticles-preset-basic@1.0.2/dist/tsparticles.preset.basic.min.js")
        script(src="/javascripts/presetFire.js")
        script(src="/javascripts/shapeSpiral.js")
        script(src="/javascripts/demo.js")