html {
  height: 100%;
  overflow: hidden;
}
body {
  line-height: 1;
  height: 100%;
  overflow: hidden;
}
#particles {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
