{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-only-tests", "eslint-comments"],
  "ignorePatterns": ["node_modules", "dist", "dev", "tsup.config.ts", "vitest.config.ts"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": ".",
    "sourceType": "module"
  },
  "rules": {
    "prefer-const": "warn",
    "no-console": "warn",
    "no-debugger": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-unnecessary-type-assertion": "warn",
    "@typescript-eslint/no-unnecessary-condition": "warn",
    "@typescript-eslint/no-useless-empty-export": "warn",
    "no-only-tests/no-only-tests": "warn",
    "eslint-comments/no-unused-disable": "warn"
  }
}
