/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    .title.main-title {
        color: $title-grey;
    }
    .title.page-title {
        font-size: 3.5rem;
    }
    .subtitle.page-subtitle {
        font-size: 1.8rem;
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}

.hero {
    &.is-primary a:not(.button), &.is-info a:not(.button), &.is-danger a:not(.button), &.is-success a:not(.button), &.is-dark a:not(.button)  {
        color: #7a7a7a;
        &:hover {
            color: #363636;
        }
    }
    &.is-primary a.nav-item.nav-inner-xs, &.is-info a.nav-item.nav-inner-xs, &.is-danger a.nav-item.nav-inner-xs, &.is-success a.nav-item.nav-inner-xs, &.is-dark a.nav-item.nav-inner-xs  {
        color: #7a7a7a;
        &:hover {
            color: $secondary !important;
        }
    }
    &.is-light a.nav-item.is-drop:hover a {
        color: $secondary !important;
    }
    &.is-light a.button, &.is-warning a.button {
        color: $white;
    }
    &.is-theme-primary {
        background-color: $primary;
        .title {
            color: $white;
        }
        .subtitle {
            color: $white;
        }
    }
    &.is-theme-secondary {
        background-color: $secondary;
        .title {
            color: $white;
        }
        .subtitle {
            color: $white;
        }
    }
    &.is-theme-accent {
        background-color: $accent;
        .title {
            color: $white;
        }
        .subtitle {
            color: $white;
        }
    }
    &.is-light-grey {
        background-color: $light-grey;
        background-image: -webkit-linear-gradient(309deg, #d0e0ec 0%, #f5f7fa 71%, white 100%);
        background-image: linear-gradient(141deg, #d0e0ec 0%, #f5f7fa 71%, white 100%);
    }
}

.nav-item.is-drop  {
    color: #7a7a7a;
    &:hover {
        color: $secondary !important;
    }
}