/* ==========================================================================
Navbar
========================================================================== */

.navbar-wrapper.navbar-sticky {
    width: 100%;
    height: 4.6rem;
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.hero-head {
    background: #fff;
}

.hero-head.has-shadow {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.nav-toggle.is-active span {
    background-color: $secondary;
}

.nav {
    .container {
        min-height: 4rem;
    }
    .container.big {
        min-height: 4.6rem;
    }
    .nav-item.is-tab:hover {
        border-bottom-color: $secondary;
    }
    .nav-item.is-tab.is-active {
        border-bottom: 3px solid $secondary !important;
        color: $secondary !important;
    }
    .nav-item.is-tab.nav-icon.is-active {
        border-bottom: 3px solid transparent !important;
        i {
            color: $primary !important;
            font-size: 20px;
        }
    }
    .nav-toggle {
        width: 64px;
        height: 64px;
    }
}
