/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */

//Color variables
$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;
$primary: #4FC1EA;
$secondary: #F39200;
$accent: #68BB88;
$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;

//Imports
@import 'navbar';
@import 'dropdowns';
@import 'sections';
@import 'hero';
@import 'footer';
@import 'buttons';
@import 'cards';
@import 'forms';
@import 'animations';
@import 'sidebar';
@import 'testimonials';
@import 'responsive';


body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

// Resets

section:focus {
    outline: none !important;
}

// Preloader 
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    z-index: 99;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    // centers the loading animation horizontally on the screen 
    top: 50%;
    // centers the loading animation vertically on the screen 
    background-image: url(../images/loaders/rings.svg);
    background-size: 80px 80px;
    // path to loading animation 
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    // width and height divided by two 
}

// Back to top button
#backtotop {
    position: fixed;
    right: 0;
    opacity: 0;
    visibility: hidden;
    bottom: 25px;
    margin: 0 25px 0 0;
    z-index: 9999;
    transition: 0.35s;
    transform: scale(0.7);
    transition: all 0.5s;
}

#backtotop.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);

}

#backtotop.visible a:hover {
    outline: none;
    opacity: 0.9;
    background: $secondary;
}

#backtotop a {
    outline: none;
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 46px;
    height: 46px;
    background-color: $medium-grey;
    opacity: 1;
    transition: all 0.3s;
    border-radius: 50%;
    text-align: center;
    font-size: 26px
}

body #backtotop a {
    outline: none;
    color: #fff;
}

#backtotop a:after {
    outline: none;
    content: "\f106";
    font-family: "FontAwesome";
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
}


// HELPER CLASSES 
.is-disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: default !important;
}

.is-hidden {
    display: none !important;
}

.stuck {
    position:fixed !important;
    top: 0 !important;
    z-index: 2 !important;
}

.light-text {
    color: $white !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.ml-30 {
    margin-left: 30px;
}

.huge-pb {
    padding-bottom: 100px;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

//Input placeholders
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $placeholder;
}
:-moz-placeholder { /* Firefox 18- */
    color: $placeholder;
}


//Brand
.brand {
    height: 32px;
    max-height: 32px !important;
    position: relative;
    top: -3px;
}

//Navbar animated icon
.menu-toggle  {
    font-size: 20px; 
    color: #666; 
    line-height: 48px; 
    text-align: center; 
    background: transparent; 
    display: block; 
    width: 24px;
    height: 26px; 
    cursor: pointer; 
    padding: 0; 
    margin: 0 14px; 
    transition: opacity 0.4s;
    opacity: 1;
    position: relative;
    top: 2px;
    .icon-box-toggle  {
        height: 100%;
        width: 100%; 
        background: tranparent; 
        position: relative;
        display: block; 
        &.active > span.rotate {

            /*transform*/
            -webkit-transform: rotate(90deg);
            -moz-transform:translate(0px, 0px) rotate(90deg);
            -ms-transform:translate(0px, 0px) rotate(90deg);
            -o-transform:translate(0px, 0px) rotate(90deg);
            transform:translate(0px, 0px) rotate(90deg);
        }


        &.active > span > i.icon-line-center{
            visibility: hidden; 
            width: 1px; 
            height: 3px; 
            left: 70%;
        }

        &.active > span > i.icon-line-bottom {
            margin: -1.5px 0 0 -10px;
            left: 50%;
            top: 50%; 
            /*transform*/
            -webkit-transform: rotate(135deg);
            -moz-transform:translate(0px, 0px) rotate(135deg);
            -ms-transform:translate(0px, 0px) rotate(135deg);
            -o-transform:translate(0px, 0px) rotate(135deg);
            transform:translate(0px, 0px) rotate(135deg);
        }
        &.active  > span > i.icon-line-top {
            margin: -1.5px 0 0 -10px;
            left: 50%;
            top: 50%; 
            /*transform*/
            -webkit-transform: rotate(45deg);
            -moz-transform:translate(0px, 0px) rotate(45deg);
            -ms-transform:translate(0px, 0px) rotate(45deg);
            -o-transform:translate(0px, 0px) rotate(45deg);
            transform:translate(0px, 0px) rotate(45deg);

        }
    }

    .icon-line-center {
        position: absolute; 
        width: 20px; 
        height: 2px; 
        background: $secondary; 
        margin: -1.5px 0 0 -10px;
        left: 50%;
        top: 50%; 

        -webkit-transition: all .2s ease ;
        -moz-transition: all .2s ease ;
        -o-transition: all .2s ease ;
        transition: all .2s ease ;	
    }

    .icon-line-top {
        position: absolute; 
        width: 20px; 
        height: 2px; 
        background: $secondary; 
        margin: -2px 0 0 -10px;
        left: 50%;
        top: 30%; 
        -webkit-transition: all .2s ease ;
        -moz-transition: all .2s ease ;
        -o-transition: all .2s ease ;
        transition: all .2s ease ;	
    }

    .icon-line-bottom {
        position: absolute; 
        width: 20px; 
        height: 2px; 
        background: $secondary; 
        margin: 1.5px 0 0 -10px;
        left: 50%;
        top: 60%; 
        -webkit-transition: all .2s ease ;
        -moz-transition: all .2s ease ;
        -o-transition: all .2s ease ;
        transition: all .2s ease ;	
    }
}

.big-title {
    color: $dark-grey;
    font-size: 3.2rem;
    font-weight: 600;
}


.textarea {
    min-height: 160px;
}

.form-footer {
    width: 100%;
    padding-top: 10px;
}