version: 2.1

orbs:
  node: circleci/node@1.1.6

jobs:
  build:
    executor:
      name: node/default

    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm ci
            - run: npm run build

workflows:
  build:
    jobs:
      - build
