html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: top;
}
li {
  list-style: none;
}
body {
  font: normal 75% Arial, Helvetica, sans-serif;
}
html {
  -webkit-tap-highlight-color: transparent;
}
.loaded .panel li {
  -webkit-transition: background 0.2s ease, color 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease;
}
.loaded .panel li a {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.panel {
  font-family: "Source Sans Pro";
  font-size: 1.3em;
  position: absolute;
  z-index: 10;
  width: 200px;
  height: 220px;
  background: #eee;
  top: 50%;
  left: 50%;
  margin: -110px 0 0 -100px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 100;
}
.panel.hide {
  display: none;
}
.panel h1 {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  color: #222;
  margin-top: -4px;
}
.panel .r-version {
  display: block;
  margin-bottom: 7px;
  text-align: center;
  font-size: 0.75em;
}
.panel h2 {
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.3em;
}
.panel li {
  font-size: 1.1em;
  font-weight: 400;
  text-align: center;
  height: 34px;
  line-height: 34px;
  background: #fff;
  margin-top: 10px;
  color: #222;
  border-radius: 4px;
}
.panel li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #222;
}
.panel li a:visited {
  color: #222;
}
.panel li a span:after {
  font-family: "icomoon";
  margin-left: 10px;
  vertical-align: top;
}
.panel li .label,
.panel li .svg-wrap {
  display: inline-block;
  vertical-align: top;
}
.panel li .svg-wrap {
  width: 18px;
  height: 34px;
  margin-left: 6px;
}
.panel li .svg-wrap svg {
  fill: #222;
  width: 100%;
  height: 100%;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.panel li:hover {
  background: #222;
  color: #fff;
}
.panel li:hover a {
  color: #fff;
}
.panel li:hover svg {
  fill: #fff;
}
.dg li.save-row select {
  margin-top: 4px;
}
.dg .c select {
  margin-top: 4px !important;
}
.dg .c input[type="checkbox"] {
  margin-top: 7.5px !important;
}
.dg li.save-row {
  background: #eee !important;
}
.dg.ac {
  position: absolute !important;
  margin-top: 39px !important;
  font: 1em "Source Sans Pro", "Lucida Grande", sans-serif !important;
  z-index: 150 !important;
}
.dg .cr.function {
  border-left: 3px solid #eee !important;
  text-shadow: none !important;
  -webkit-transition: text-indent 0.2s ease, background 0.2s ease;
  transition: text-indent 0.2s ease, background 0.2s ease;
}
.dg .cr.function .property-name {
  width: 100% !important;
}
.dg .cr.function:hover {
  background: #509449 !important;
  text-indent: 10px;
}
.dg .close-button {
  border-radius: 0 0 3px 3px;
  padding: 4px 0;
  background: #111 !important;
}
.dg.main {
  margin-right: 5px !important;
}
.dg li:not(.folder) {
  background-color: #222 !important;
}
.dg li.title {
  background-color: #111 !important;
}
@media (max-width: 800px) {
  .dg.ac {
    display: none !important;
  }
}
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
.box-top {
  font-family: "Source Sans Pro";
  font-size: 1.1em;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  background: rgba(238, 238, 238, 0.5);
  width: 340px;
  height: 34px;
  border-radius: 3px 3px 0 0;
  z-index: 175;
}
.box-top .select-label {
  cursor: pointer;
  display: block;
  height: 28px;
  line-height: 28px;
  text-indent: 8px;
  margin-top: 3px;
  color: #fff;
  border-radius: 2px;
  background-image: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==);
  background-repeat: no-repeat;
}
.box-top .select-dropdown {
  display: none;
  background: #eee;
  padding: 4px 0;
  border-radius: 0 0 2px 2px;
}
.box-top .select-dropdown li {
  cursor: pointer;
  line-height: 24px;
  height: 24px;
  padding: 0 8px;
  color: #111;
}
.box-top .select-dropdown li:hover {
  background: #ddd;
}
.box-top .select-dropdown li a {
  color: #111;
}
.box-top .select-label,
.box-top .select-dropdown {
  margin-left: 3px;
}
.box-top .box-presets {
  width: 40%;
}
.box-top .box-presets .select-label {
  background-color: #111;
  background-position: 96% 11px;
}
.box-top .box-share {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 3px;
  width: 76px;
}
.box-top .box-share .select-label {
  background-color: #111;
  background-position: 92% 11px;
}
@media (max-width: 800px) {
  .box-top {
    background: none !important;
    margin-top: 2px !important;
    width: 140px !important;
  }
  .box-presets {
    width: 100% !important;
  }
  .box-share {
    display: none;
  }
  .box-codepen {
    display: none;
  }
}
.box-codepen {
  position: absolute;
  top: 3px;
  right: 79px;
  z-index: 50;
  outline: 0;
  color: #fff;
  cursor: pointer;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  background: #111;
  padding: 0 8px;
}
.box-codepen .codepen-label,
.box-codepen .codepen-button {
  display: inline-block;
  vertical-align: top;
}
.box-codepen form,
.box-codepen input {
  outline: 0;
}
.box-codepen .codepen-button {
  margin-left: 4px;
}
.box-codepen .codepen-button .svg-wrap {
  width: 24px;
  height: 28px;
  display: block;
}
.box-codepen .codepen-button .svg-wrap svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.box-codepen .codepen-submit-bt {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  opacity: 0;
}
.box-bottom {
  font-family: "Source Sans Pro";
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}
.box-bottom .box-github {
  padding-left: 6px;
  background-color: #eee;
  border-radius: 3px;
  cursor: pointer;
}
.box-bottom .box-github .label,
.box-bottom .box-github .svg-wrap {
  display: inline-block;
  vertical-align: middle;
}
.box-bottom .box-github a {
  color: #222;
}
.box-bottom .box-github .label {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  color: #222;
}
.box-bottom .box-github .svg-wrap {
  width: 28px;
  height: 28px;
  padding: 5px;
  box-sizing: border-box;
}
.box-bottom .box-github .svg-wrap svg {
  width: 100%;
  height: 100%;
  fill: #222;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#tsparticles {
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-size: cover;
  background-position: 50% 50%;
}
#tsparticles.troll canvas {
  -webkit-animation: spinning 1.4s infinite;
  animation: spinning 1.4s infinite;
}
#tsparticles .tsparticles-canvas-el {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: appear 1.4s 1;
  animation: appear 1.4s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  background: #111;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes appear {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes appear {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes spinning {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=master.css.map */
