.container {
  padding: 0.25em;

  .element,
  .title {
    display: flex;
  }

  input,
  select,
  label,
  .name,
  .collapse {
    flex: 1;
  }

  .collapse {
    text-align: right;
  }
}

.container-content {
  padding: 0.5em;
}

.editor-root {
  position: fixed;
  max-height: 100vh;
  min-width: 252px;
  max-width: 400px;
  overflow: auto;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.editor-dark {
  color: #fff;
  background: #000;

  input,
  select,
  label {
    color: #fff;
    background: #000;
  }

  .container {
    border: 1px solid #fff;
  }
}

.editor-light {
  color: #000;
  background: #fff;

  input,
  select,
  label {
    color: #000;
    background: #fff;
  }

  .container {
    border: 1px solid #000;
  }
}
