@use "utils/theme";

.container {
  border-radius: 0.25rem;
  margin: 5px 0;

  > div {
    padding: 0.25em;
  }

  .element,
  .title {
    display: flex;
  }

  .title {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    .name {
      padding: 0.25rem;
      margin-bottom: 0;
      line-height: 1.5;
      font-weight: 500;
    }
  }

  input,
  select,
  label,
  .name,
  .collapse {
    flex: 1;
  }

  label {
    line-height: 1.5;
  }

  input:not([type="button"]),
  select {
    padding: 0.25rem;
    border-radius: 0.25rem;
  }

  input[type="checkbox"] {
    padding: 0;
    margin-top: 0.3rem;
    margin-left: -0.75rem;
  }

  button,
  input[type="button"] {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
  }

  .collapse {
    text-align: right;
  }
}

.container-content {
  padding: 0.5em;
}

.editor-root {
  position: fixed;
  max-height: 100vh;
  min-width: 252px;
  max-width: 400px;
  overflow: auto;
  margin: 5px;
  font-family: "Avenir Next", Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

@include theme.create-theme("light", #fff, #000, #000);
@include theme.create-theme("dark", #000, #fff, #fff);
@include theme.create-theme("red", #dc3545, #fff, rgba(0, 0, 0, 0.125));
@include theme.create-theme("blue", #007bff, #fff, rgba(0, 0, 0, 0.125));
@include theme.create-theme("green", #28a745, #fff, rgba(0, 0, 0, 0.125));
