@use "utils/theme";

.container {
  padding: 0.25em;

  .element,
  .title {
    display: flex;
  }

  input,
  select,
  label,
  .name,
  .collapse {
    flex: 1;
  }

  .collapse {
    text-align: right;
  }
}

.container-content {
  padding: 0.5em;
}

.editor-root {
  position: fixed;
  max-height: 100vh;
  min-width: 252px;
  max-width: 400px;
  overflow: auto;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

@include theme.create-theme("light", #fff, #000, #000);
@include theme.create-theme("dark", #000, #fff, #fff);