.container {
  border-radius: 0.25rem;
  margin: 5px 0;
}
.container > div {
  padding: 0.25em;
}
.container .element,
.container .title {
  display: flex;
}
.container .title {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.container .title .name {
  padding: 0.25rem;
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 500;
}
.container input,
.container select,
.container label,
.container .name,
.container .collapse {
  flex: 1;
}
.container label {
  line-height: 1.5;
}
.container input:not([type="button"]),
.container select {
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.container input[type="checkbox"] {
  padding: 0;
  margin-top: 0.3rem;
  margin-left: -0.75rem;
}
.container button,
.container input[type="button"] {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}
.container .collapse {
  text-align: right;
}

.container-content {
  padding: 0.5em;
}

.editor-root {
  position: fixed;
  max-height: 100vh;
  min-width: 252px;
  max-width: 400px;
  overflow: auto;
  margin: 5px;
  font-family: "Avenir Next", Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.editor-root.editor-light {
  border: 1px solid #000;
}

.editor-light {
  color: #000;
  background-color: #fff;
}
.editor-light input:not([type="button"]),
.editor-light select {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
.editor-light button,
.editor-light input[type="button"] {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
.editor-light button:hover,
.editor-light input[type="button"]:hover {
  background-color: #e6e6e6;
}
.editor-light .container {
  border: 1px solid #000;
}

.editor-root.editor-dark {
  border: 1px solid #fff;
}

.editor-dark {
  color: #fff;
  background-color: #000;
}
.editor-dark input:not([type="button"]),
.editor-dark select {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}
.editor-dark button,
.editor-dark input[type="button"] {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}
.editor-dark button:hover,
.editor-dark input[type="button"]:hover {
  background-color: black;
}
.editor-dark .container {
  border: 1px solid #fff;
}

.editor-root.editor-red {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.editor-red {
  color: #fff;
  background-color: #dc3545;
}
.editor-red input:not([type="button"]),
.editor-red select {
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.editor-red button,
.editor-red input[type="button"] {
  color: #fff;
  background-color: #dc3545;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.editor-red button:hover,
.editor-red input[type="button"]:hover {
  background-color: #bd2130;
}
.editor-red .container {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.editor-root.editor-blue {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.editor-blue {
  color: #fff;
  background-color: #007bff;
}
.editor-blue input:not([type="button"]),
.editor-blue select {
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.editor-blue button,
.editor-blue input[type="button"] {
  color: #fff;
  background-color: #007bff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.editor-blue button:hover,
.editor-blue input[type="button"]:hover {
  background-color: #0062cc;
}
.editor-blue .container {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.editor-root.editor-green {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.editor-green {
  color: #fff;
  background-color: #28a745;
}
.editor-green input:not([type="button"]),
.editor-green select {
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.editor-green button,
.editor-green input[type="button"] {
  color: #fff;
  background-color: #28a745;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.editor-green button:hover,
.editor-green input[type="button"]:hover {
  background-color: #1e7e34;
}
.editor-green .container {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

/*# sourceMappingURL=editor.css.map */
