doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description", content= "tsParticles")
        meta(name="author", content= "Matteo Bruni")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:creator", content="@HollowMatt_ITA")
        meta(name="twitter:image:src", content="https://particles.js.org/images/demo2.png")
        meta(property="og:title", content="tsParticles - A lightweight TypeScript library for creating particles")
        meta(property="og:site_name", content="tsParticles")
        meta(property="og:url", content="https://particles.js.org/")
        meta(property="og:description", content="A lightweight TypeScript library for creating particles.")
        meta(property="og:image", content="https://particles.js.org/images/demo2.png")

        title tsParticles
        link(href="/fontawesome/css/all.css", rel="stylesheet", type="text/css")
        link(href="/jsoneditor/jsoneditor.css", rel="stylesheet", type="text/css")
        link(href="/stylesheets/main.css", rel="stylesheet", type="text/css")

    body
        #header
            // stats - count particles
            #filler
            #docs
                a(href="/docs") API Documentation

        #container
            #editor-container
                #inputs
                    button#btnUpdate(type="button") Refresh Particles
                    select#presets

                #editor
            #tsparticles-container
                #tsparticles
                #stats(hidden)

        script(src="/lodash/lodash.min.js")
        script(src="/fontawesome/js/all.js")
        script(src="/jsoneditor/jsoneditor.js")
        script(src="/stats.ts/dist/stats.min.js")
        script(src="/jquery/jquery.js")
        script(src="/tsparticles/tsparticles.bundle.min.js")
        script(src="/demo-configs/tsparticles.configs.min.js")
        script(src="/jquery-particles/jquery.particles.js")
        script(src="/javascripts/demo.js")
