@mixin create-theme($name, $bgColor, $textColor, $borderColor) {
  .editor-root.editor-#{$name} {
    border: 1px solid $borderColor;
  }

  .editor-#{$name} {
    color: $textColor;
    background-color: $bgColor;

    input:not([type="button"]),
    select {
      color: #000;
      background-color: #fff;
      border: 1px solid $borderColor;
    }

    button,
    input[type="button"] {
      color: $textColor;
      background-color: $bgColor;
      border: 1px solid $borderColor;

      &:hover {
        background-color: darken($bgColor, 10%);
      }
    }

    .container {
      border: 1px solid $borderColor;
    }
  }
}
