<div class="sidebar">
    <div class="sidebar-header">
        <img src="assets/img/logos/fresh-square.svg">
        <a class="sidebar-close" href="javascript:void(0);"><i data-feather="x"></i></a>
    </div>
    <div class="inner">
        <ul class="sidebar-menu">
            <li><span class="nav-section-title"></span></li>
            <li class="have-children"><a href="#">
                <span class="material-icons">apps</span>
                <span>Apps</span>
            </a>
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Documents</a></li>
                </ul>
            </li>
            <li class="have-children">
                <a href="#">
                    <span class="material-icons">duo</span>
                    <span>Messages</span>
                </a>
                <ul>
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Compose</a></li>
                    <li><a href="#">Video</a></li>
                </ul>
            </li>
            <li class="have-children">
                <a href="#">
                    <span class="material-icons">insert_photo</span>
                    <span>Media</span>
                </a>
                <ul>
                    <li><a href="#">Library</a></li>
                    <li><a href="#">Upload</a></li>
                </ul>
            </li>
            <li class="have-children">
                <a href="#">
                    <span class="material-icons">policy</span>
                    <span>Settings</span>
                </a>
                <ul>
                    <li><a href="#">User settings</a></li>
                    <li><a href="#">App settings</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>