<section class="section is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">Get Started</h2>
      <h3 class="subtitle is-5 is-muted">Choose one of our plans</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="pricing-wrap">
      <div class="feature-card is-pricing has-text-centered">
        <h3 class="plan-name">Starter</h3>
        <img src="/img/illustrations/pricing/1.svg" alt=""/>
        <div class="price">
          0
        </div>
        <p>Sign up, get some awesome features and get started now</p>
        <a class="button is-fullwidth is-bold">Get Started</a>
      </div>
      <div class="feature-card is-pricing has-text-centered">
        <h3 class="plan-name">Pro</h3>
        <img src="/img/illustrations/pricing/2.svg" alt=""/>
        <div class="price">
          15
        </div>
        <p>Sign up, get some awesome features and get started now</p>
        <a class="button is-fullwidth primary-btn raised is-bold">Get Started</a>
      </div>
      <div class="feature-card is-pricing has-text-centered">
        <h3 class="plan-name">Business</h3>
        <img src="/img/illustrations/pricing/3.svg" alt=""/>
        <div class="price">
          30
        </div>
        <p>Sign up, get some awesome features and get started now</p>
        <a class="button is-fullwidth is-bold">Get Started</a>
      </div>
    </div>
  </div>
</section>
