html, body {
    font-family: 'Avenir Next', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

.frame-layout__wrapper {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.frame-layout__particles-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 60px;
}

.frame-layout__content {
    display: block;
}

.frame-layout__name {
    font-weight: 100;
    color: #333;
    letter-spacing: .1em;
    text-shadow: 0 0 3px #EAEAEA;
    height: 60px;
    background: rgba(245, 247, 255, .9);
    display: block;
    margin: 0;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 0 .7em;
    line-height: 60px;
    user-select: none;
}

.frame-layout__particles {
    width: 100%;
    height: 100%;

    canvas {
        position: absolute;
    }
}

.frame-layout__code-container {
    overflow: auto;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: 20px;
    right: 260px;

    &.expanded {
        bottom: 20px;
    }

    &.collapsed {
        min-width: 10%;
        cursor: pointer;
    }
}

.frame-layout__thumbs {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 233px;
}

.frame-layout__footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background: rgba(245, 247, 255, .9);
    padding: 20px;
    border-radius: 2px;
    
    a {
        display: inline-block;
        width: 26px;
        height: 26px;
        background: url('../../public/assets/github.png');
        background-size: 26px 26px;
        cursor: pointer;
    }

    span {
        padding: 3px 10px;
        color: #000;
        text-shadow: 0 0 3px rgba(#FFF, .2);
        font-size: .8rem;
    }
}

.frame-thumbs__container {
    position: relative;
    background: rgba(245, 247, 255, .9);
    border-radius: 0 0 2px 2px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
}

.frame-thumbs__title {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 0 10px 0;
}

.frame-thumbs__thumb {
    padding: 3px 10px;
    text-align: center;
    font-weight: normal;
    font-size: .9rem;
    letter-spacing: .05em;
    border: 1px solid #CCC;
    margin: 6px 0;
    box-shadow: -1px 0 0 rgba(#FFF, .4), 0 1px 0 rgba(#FFF, .4), 1px 0 0 rgba(#FFF, .4), 0 -1px 0 rgba(#FFF, .4);
    cursor: pointer;
    border-radius: 2px;

    &:hover {
        border: 1px solid #CCC;
        background-color: rgba(#FFF, .5);
        box-shadow: inset -1px 0 0 rgba(#FFF, .4), inset 0 1px 0 rgba(#FFF, .4), inset 1px 0 0 rgba(#FFF, .4), inset 0 -1px 0 rgba(#333, .4);
    }

    &:active {
        border: 1px solid #CCC;
        background-color: rgba(#FFF, .1);
        box-shadow: inset -1px 0 3px 0 rgba(#999, .1), inset 0 1px 10px rgba(#999, .1), inset 1px 0 10px rgba(#999, .1), inset 0 -1px 10px rgba(#999, .1);
    }
}