#tsparticles {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.col-menu, .tsd-page-title, .tsd-generator, .with-border-bottom, .col-content {
    background-color: #ffffffcc;
}

.tsd-panel, .tsd-page-toolbar {
    background-color: #ffffff33;
}

.col-menu, .col-content {
    padding-top: 20px;
}

.tsd-generator {
    padding-top: 5px;
    padding-bottom: 5px;
}
