{
  "printWidth": 120,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
