html
  height 100%
  overflow hidden

body
  line-height 1
  height 100%
  overflow hidden

#stats
  -webkit-user-select none

#stats
  overflow hidden

#stats-graph
  canvas
    border-radius 3px 3px 0 0
