doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description", content= "tsParticles")
        meta(name="author", content= "Matteo Bruni")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:creator" content="@HollowMatt_ITA")
        meta(name="twitter:image:src" content="https://particles.js.org/images/demo2.png")
        meta(property="og:title" content="tsParticles - A lightweight TypeScript library for creating particles")
        meta(property="og:site_name" content="tsParticles")
        meta(property="og:url" content="https://particles.js.org/")
        meta(property="og:description" content="A lightweight TypeScript library for creating particles.")
        meta(property="og:image" content="https://particles.js.org/images/demo2.png")

        title tsParticles

        link(rel="stylesheet" href="/stylesheets/presets.css")
    body
        #stats
        #tsparticles(style="background: #000; position: fixed; width: 100%; height: 100%; left: 0; top: 0;")

        script(src="/stats.ts/dist/stats.min.js")
        script(src="/preset-confetti/tsparticles.preset.confetti.bundle.min.js")
        script.
            (async (engine) => {
                await loadConfettiPreset(engine);

                await engine.load({
                    id: "tsparticles",
                    options: {
                        preset: "confetti"
                    }
                }).then(container => {
                    console.log(container);
                });
            })(tsParticles);

            const stats = new Stats();

            stats.showPanel(0);
            stats.dom.style.position = "absolute";
            stats.dom.style.left = "3px";
            stats.dom.style.top = "3px";
            stats.dom.id = "stats-graph";

            const initStats = function () {
                const update = function () {
                    stats.begin();
                    stats.end();

                    requestAnimationFrame(update);
                };

                requestAnimationFrame(update);
            };

            document.body.querySelector('#stats').appendChild(stats.dom);

            initStats();
