name: Node.js CI
on:
  push:
    branches: [main, v4, v3, v2, v1]
  pull_request:
    branches: [main, v4, v3, v2, v1]

env:
  NX_CLOUD_DISTRIBUTED_EXECUTION: true
  NX_CLOUD_ACCESS_TOKEN: '${{ secrets.NX_CLOUD_ACCESS_TOKEN }}'
  firebaseToken: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TSPARTICLES }}'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Gestisce sia push che pull request correttamente
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          fetch-depth: 0

      - name: Derive SHAs for nx affected
        uses: nrwl/nx-set-shas@v4

      - uses: actions/setup-node@v6
        with:
          node-version: '24'

      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: false

      - name: Setup pnpm cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm ci

      - name: Prettify README
        run: pnpm run prettify:ci:readme

      - name: Build packages
        run: npx nx affected -t build:ci

      # Deploy Produzione (Solo su push su main)
      - if: env.firebaseToken != '' && github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TSPARTICLES }}'
          projectId: tsparticles
          channelId: live

      # Deploy Preview (Solo per PR di matteobruni)
      - if: env.firebaseToken != '' && github.event_name == 'pull_request' && github.actor == 'matteobruni'
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TSPARTICLES }}'
          projectId: tsparticles

      - run: npx nx fix-ci
        if: always() # IMPORTANT: Always run