name: Publish Packages

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

env:
  NX_CLOUD_DISTRIBUTED_EXECUTION: true
  NX_CLOUD_ACCESS_TOKEN: '${{ secrets.NX_CLOUD_ACCESS_TOKEN }}'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v5
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: pnpm install

      - name: Initialize Nx Cloud
        run: npx nx-cloud start-ci-run --distribute-on="5 linux-medium-js"

      - name: Build All Packages
        run: npx nx run-many -t build:ci --concurrency 5
        env:
          CI: true

      - name: Publish
        run: |
          npm config set //registry.npmjs.org/:_authToken ""
          
          TAG="${GITHUB_REF#refs/tags/}"
          
          BASE_CMD="lerna publish from-package --ignore-scripts"

          if [[ "$TAG" == *"-alpha."* ]]; then
            $BASE_CMD --pre-dist-tag alpha --preid alpha
          elif [[ "$TAG" == *"-beta."* ]]; then
            $BASE_CMD --pre-dist-tag beta --preid beta
          elif [[ "$TAG" == v1* ]]; then
            $BASE_CMD --dist-tag v1
          elif [[ "$TAG" == v2* ]]; then
            $BASE_CMD --dist-tag v2
          elif [[ "$TAG" == v3* ]]; then
            $BASE_CMD --dist-tag v3
          else
            $BASE_CMD
          fi