name: Publish Packages

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - run: pnpm install

      - name: Publish
        run: |
          npm config set //registry.npmjs.org/:_authToken ""
          
          TAG="${GITHUB_REF#refs/tags/}"
          EXTRA_FLAGS="-- --provenance --access public --loglevel verbose"
          
          if [[ "$TAG" == *"-alpha."* ]]; then
            pnpm run publish:alpha $EXTRA_FLAGS
          elif [[ "$TAG" == *"-beta."* ]]; then
            pnpm run publish:beta $EXTRA_FLAGS
          elif [[ "$TAG" == v1* ]]; then
            pnpm run publish:v1 $EXTRA_FLAGS
          elif [[ "$TAG" == v2* ]]; then
            pnpm run publish:v2 $EXTRA_FLAGS
          elif [[ "$TAG" == v3* ]]; then
            pnpm run publish:v3 $EXTRA_FLAGS
          else
            lerna publish from-package -y --provenance --access public --loglevel verbose
          fi
