name: Publish Packages

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - run: pnpm install

      - name: Publish
        run: |
          TAG="${GITHUB_REF#refs/tags/}"

          if [[ "$TAG" == *"-alpha."* ]]; then
            pnpm run publish:alpha
          elif [[ "$TAG" == *"-beta."* ]]; then
            pnpm run publish:beta
          else
            if [[ "$TAG" == v1* ]]; then
              pnpm run publish:v1
            elif [[ "$TAG" == v2* ]]; then
              pnpm run publish:v2
            elif [[ "$TAG" == v3* ]]; then
              pnpm run publish:v3
            else
              pnpm run publish:next
            fi
          fi
